name: Build StickyProject
on:
  push:
  pull_request:

jobs:
  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        nuke_version: ["14.1"]
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      
      - name: Pull nuke build image
        run: docker pull ghcr.io/gillesvink/nukedockerbuild:${{ matrix.nuke_version }}-windows-latest
      
      - name: Run build
        run: docker run --rm -v "${{ github.workspace }}:C:\nuke_build_directory" ghcr.io/gillesvink/nukedockerbuild:${{ matrix.nuke_version }}-windows-latest powershell -Command "cmake . -DCMAKE_GENERATOR_PLATFORM=x64 -DNUKE_VERSION=${{ matrix.nuke_version }} -B build ; cmake --build build --config Release"
      
      - uses: actions/upload-artifact@v4
        with:
          name: windows-nuke-${{ matrix.nuke_version }}
          path: ${{ github.workspace }}/build/lib/Release/*.dll
